/* 创建文字范围 */
@function createFontRange($start: 20, $end: 50, $isAddUnit: true) {
	$list: ();
	@for $i from $start through $end {
		$item: (
			name: #{$i},
			value: if($isAddUnit, #{$i}rpx, #{$i}) 
		);
		$list: append($list, $item, comma);
	}
	@return $list;
}

/* 统计页面列表高度 */
@function statisticsListHeight($listHeight) {
	@return calc(100vh - #{$listHeight} + var(--status-bar-height));
}

/* 距头部组件距离（状态栏高度 + header组件高度）扩展 */
@function extendPlaceholderHeaderTop($height: 0) {
	@return calc(var(--status-bar-height) + #{$height});
}

/* 距头部占位背景距离（状态栏高度 + header组件高度 + search组件高度）扩展 */
@function extendPlaceholderSearchTop($height: 0) {
	@return calc(var(--status-bar-height) + 90rpx + 120rpx + #{$height});
}